html {
    min-width: 500px;
}

body {
    background-color: #DAFFFB;
    max-width: 2000px;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-nav li:hover {
    background-color: #04364A;
    border-radius: 10px;
}

#about .parawho {
    text-align: center;
    font-size: 25px;
    padding: 0 100px;
    position: relative;
    top: 150px;
    margin-bottom: 20%;
}

#about img {
    margin-left: 30px;
    border-radius: 100px;
    border: 2px solid #04364A;
    height: fit-content;
    width: fit-content;
}

#about {
   
}

.logos img {
    width: 100px;
    height: 100px;
}

.logos {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #176B87 ;
    height: 175px;
    margin-top: 1%;
}

.form button {
    border-radius: 25px;
    background-color: #176B87;
}

#currentProject {
    margin-top: 7px;
    margin-bottom: 50px;
}
